* {
    padding:0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
}
 body{
    height: 100;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(194, 10, 16);
    padding-top: 13px;
    padding-bottom: 13px;
    height: 20%;
}

#logo{
    height: 50px;
    width: 50px;
    border: 1px transparent;
    border-radius: 20px;
    position: relative;
}

#nav{
    padding-left: 10px;
}
#navigation{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
#navigation a{
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#navigation a :hover{
    color: aqua;
}

#section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80%;
}

.conteudo{
    width: 40%;
}

#historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#historia h1{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 15px;    
}

#historia p{
    font-size: 18.0px;
    text-align: justify-all;
    letter-spacing: 1px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRgWFRYYGBgYGhgYGhoYGhgYGBgZGhgcGhgYGhgcIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHhISHjQhISE0MTQ0NDQ0NDQ0NDE0MTQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDE0NDQ0NDQ0NDQ0NP/AABEIAOcA2gMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQMEBQYHAgj/xABDEAACAQIEAwUFBAcHAwUAAAABAgADEQQSITEFQVEGImFxgRMykaGxFEJSwQcjYnKS0fBDY4KisuHxFTPSFiU0U4P/xAAYAQADAQEAAAAAAAAAAAAAAAAAAQIDBP/EACERAQEAAgMBAQACAwAAAAAAAAABAhEhMUESA1FxIkKB/9oADAMBAAIRAxEAPwDqMIQiIGEIQAgYQgCRYGU+OavRJdCj0yb5HJRlJOyOAb3OwMcCwxONSmCznKo+8QbfETD8Y7ZDMRQRQfxsoZ28gdFHnK7tNx98QwQqECbqGzAtzJNhcjb4zPlwv9amVJpvj+ftWrcfxT3vVdb8g3/ja3pIAPO+/wA5GzE7nToP5xQ8bScJauRqpyncEbjxi4iu9Rs7uzt1Y39ADoBID17XJOg+cVKmax01gGrwPazEU7DuOv4SgX4FbWlrg+3BJ/WUsvihJ+RmDSp0PoY6lS/nFcU3HGur4Dj9CqLq4Ftw3dI8wbGTvtacnU32ykNfyAnI8NWysCSR0Ybqeuk1uC7RvRCismdW2qJazjqORPw8RFcWeX566bVTeKZTYTtNhnNg5U9HFvntLdXBAI1ElnZZ29QgYQIQhCAEIQgAYQiXgCwtCEASLCEAIjG0WeWQEWIBB3B1BgFbj+PYekDnqrf8KnO38I/OYDjXalqjfq8w5BmILgHfKo7qeY18ZcdqMXh6TZEpUrpqQEUZn3AJAvkXcjmbDrMPi65Zi51Zjc6AXPkNhLk02wxndNvUt/W0bDW1O55Rpm1tuflfrAG3nzMbXZ4vDNGQ08s/If8AEZbeKr3FupH1J/OPYZ9x0MiMdVHl9Y+ujnxHzERSpZN/Oeka++hH9XEYDT0TzHL6RqS6dTkf+Zb8O4kE/V1RmouRm6qeTjoett5ny3Pl9PEeMfR7i1/66xDt0vsyyI3smyNe7UaoC/rE5jMN2F5ow4va+tr28JxvhRGdVeq1Ncw7w1CMdA9rjTkT4zq3B8E9JMr1TVvaxKqth5jeRlNMf0x1ysoQhEyBhCEACYQhACFoRYAghCEAIQhACQOLcVTDoWfU27qjdv5Dxk5xMv2yVaeHYqO+5VSx1Y63AueXh4Rzs8Zu6c8xdYu7M2pJJPiSbyvqvr8h+Zkus2Uf1vK7PckeH9fzluq8cPQFo1mv6n5T1UbSNA7eAgmnLzyh59f6E8VG089Iq84yNv7w8/zv+ckkxhhqP68P5R2AewZ6Ro0rQJ1EDiQrWjiNY25HbwPSMA30gjXFv6uIHtNv16H1HOdB7JccqvSWmKRqlLKXzqoCn3c19dvpObs1rHmPpzm47A1AHuNnGRumb36bfAuvoJORZc4t9SLW7wAPQEm3qd/hPcISHMIogYQAheEIAGJeLEgCwhCAEIQgBMP2/wAYpyUwdUJdvAkWUHx3PwmzxJcIcgBexy5jZQep8JhO0/BPY4ZqjuXrPUS7bAZm1sOfmflKxXhr63WExj3ZRy1PykKg9yx6mO4p++56C30EhYZtR6/SVWtvKVWOhjNP8o5X90xqkdBGV7Smwh9mKp29p7MDxCZmPzX4yOG19TNVVwv/ALTTfmK7OfJiyf8AjMkx7w8zFAdYXEdw1JnZVQXY3sPJSSPgDGGawvLrsYL46h0zMfUI0LdQ1QG18xeJVbumXPa/hy4fEMEZSjEuuVgctz3kIG1je3haUdb3TAt8Hkfbx/lPV7E+h/IyPROi+f5GLWaxXzhD2nFrj6TWdha12FMBsxqo/MgIga9+m4HrMPTq2JVtuR6WOk1PYziS0q6XuCzZfBkfRh5g5T8YZdH3HXophCZuYRYkUQAhC8SAELxYQAhEvFgBEgREgC3mX/SC9sMB1dB8Ax/KaaVXaDBCsiKdf1i28yGXX+KPHs53HDMQbs/r9ZHpHvCXGG4YWr5X0QVVpOfwlr5b+eUiV/EcM1OoyMLFWIt5aflLrWvVUXEOFUQ9SmjLcM6rbXUMQOXnPNV7C9rydSw+Io+wrlAi5lanUYEpe5ZM1vI2HQCK0721WA7M0amALZHFcq5DXqBSyO2W63y7LbaYB9vX8pvOGcaxQpM60kemj5CFco5dzmIVXvm1bkJRcewyu9M0EIR6IcCy3FmcuTlNtLWPlDHfoyk7lUKvcWO9pddkOHLicQlN2cLZyxQ5WsEJtfodvWUNSmyMVYWI5HQzQdicZ7Gu9WxOSjUawFyTYDQXF94XpMvPLoj9k8EEKph1vbRirO1/Esb/AAnLeI8OalUqUiveS52IJUa3t5TSYninEC2lLKSquAKbOSrk5WLMxA2MWtwPGVsQSKlF3pU1YlAAFzXHs3ts1s2hvpCbnasvnxjsM31/KLVa7j0glIoxDfHluRp1GklcJwjVahCi5ClrWvoPDny9SIdFPCvhyQrEEA3ynkbaG3Xeajsx2cp4mhUcO61KbWXLa3u3BI6nXnykduHn7CtbX9XUZDf3WzMQSB6IJuOyXB/s7uUuaVWnTdSeTG908bX+BEMrwrK6i94TQqomStUWoV0DhSjEftC5BPiJNhFkOe3YgYQgBCESALFtEhAMP2A7TGov2as13Qdxz99BsD+0PnNqagnBMNXZGV0NmUggjkROucFx32mitRdzowH3WG4jymmlx9XzVQOcZbFKOcrq1J7XlNi6zqYpyqfltpzjF6yPiaqvl1tlZX9VO0zCYpjJ1IM0etD40oe02FUYlyDlSsEdyPuvTYsHHjcfOJ2h4alaolV1ygqKdY/gJNkrp1S9u8Lix1tLvEcNZ3VmF1VTbxLaG/hYfOQnwZRBhnfIhutGqRfIG/s32t0BvYjQyjmumCxPBaqUjWZQUFR6JtrZkNi37pIIHiPGdB7NrU9glAlShTMl82qOb56dUbZbnukZhe2gsTY8E4floNhaxWplGumjo5Jvrre9/lHOC8NfDXpqwehqUBJzoSbldrFfX/aLkdnhvhvAClRalWo9Up/21d86oTpm9xczWvqb7yVQ4Ii1/aZRYUvZKPBmLPfTn3R8ZZieovqp1pzjtZ2TZ6lBadrsWpBjtlCmpTz+ICul+irKHsvw11xDqVPtKaljTOhdB3atPXmVa48p1jGKC6k2uneXU5gzBkJI6EEges9VsGjutRkGdPdcAZwCNRm5g9DpHct8HMdaqt4vwhMUgzM4BAIF2W2lx7hB57E29dYuB4a6XXOmRjmfKjF6htbvu7MW0AHlpLZljeTeL6qvmOT9rf1mNqJTX3AqAKNAEQXsBsoJPlaT+wWDCB6pe7sCoRRd8gK3dm+4LjTS55TWcT4XToYau+gJR87gWYqSSUB31Jt118pB4LUoUUVcMEqYqoiZ8jZwjW1LsCQqjpLt3EyaTuK4JXwz0aYAVFeoyn7pZWZE8xcm37s1OBTLTReiIPgokDCcPy0yhObNmzk7sze8TJ6KZNqMutJF4XjdzBWi2z0cixBFjAhCEAIsQxM0A+fUM2H6PuLGnWNJvcqf5XHun12+ExiGWHCcSEqox2zBW/dbun639JplOHRJvh2nFtpaV3/T8+4kjhjZx3veXut5jn66H1lmq2mPZXP4mozNThmXlPWGOXeaJ0BEpsfhcuolFMvpNputpX8SKMpVgGBFiDsZVvxAppeRWxZcy5C1yqOC8Tejjwjuxom9NcxLZQ5ump/aFvWdJtMunZ9KquSO89PJfoQSysPENY38JK7IcbGJpZXNqtLuVF53GgfyNvjeTlOdxW1/FtAQkEYNA+1Z76GmqW8VZjf/ADGPERtsSgQuXUIN2uMo5e9tPaVFYXVgwOxUgg+ogQKxCscIkfG4tKSM9RgqILknl/M+ENH9aZrtlULmlhl1Dur1R/dq2x8yD/CZd4XhlPDjLSRUXw3PmdzMl2RxwxmOxNQk2ygUx0SxXbroD6mdEqJcS7xwm5aRqVYc5KVxKvE0yushniJXSToTH66X7uIqypwmJzmW6bRFlj8vQiwhKQDPN55qvlF5XNiiTFctNMPzuXS0BhaM0HuI7De0Xi6fPKmON7pt0084zSOkfSb+No632e4iG9k/KvTU/wD6INR6i/8ADNODOTdn8Wwwd197D1Mw8g1z8mM6JheKqyg9QD8ZheE5Y75i0JlbxOuAphiOIgDeUWJrlzYSpCxxvqoxwLNpPGDFiLy/w3Db7zxiuG22EuZRf1Fnw3EDSYDGYR8KpxtIlXbE1Ut91qYL6EDcMV+kvzixRBZyFUbk/wBanwldjMTUxhp0FUUaV82qlnsFazvrlpix0BObXaGkXvcaXs72mpYtVtdKhW5ptuQDYsh++t+Y25y7qUwwKsAQdwdj5znPZTh6VcLke4elVcK6GzowI7yNy38jNJhuPNQsmMIAJsuIUdx+gqD+zb/KevKZdcNLhdbaRR0jaUVDFlUBm94gWzdCbbnxnpHVhdSCDzBBHxlRxfj6UTkT9ZVO1NCCfNz90ecJNoWOPxqUUL1GCoOZ5nkAOZPScr7ecVq1smcFEJJSmbhrAe/UH4jfblNAC9R1qYhg7/cVT3KV9bU1OjNbW594bdJQ9s8Gzth8tjnLotjoSLWtfUdLHa1pWOpV387Md1q+yfCKCrh8TS7jCnlqW2csupbobzZ+0FpzHgb06YCU2Ge5zhHINwACpt3TbxBmgxPGMjhMxY2zWZWRxY2NwQAdSNRKuNZWbq+x9cWtKVsMWN4uHrZzeX+FwwsLybwqX5inwwKGXWGximecTggRcSjrkoZNaTWUalagiPiFG5mV/wCsWFo0uNLsBeHIn4zfa+rYjObLtPa4Q7x7A0AqiTLRSbLL9Pj/ABxQaYINpI1jmSFoaZ39N+Pnalz85JSR6KMxIUX5nyA1MfSdC42PYGkr08VTO7a/FLA/IyXwzEn2Ca6rdD/hNpU9hcTkrVR+KmrfwMQf9Ul8KbP7RR+Nj8ZGuzl5SnxpJteW/B1DHWVx4W29o/hHNM6ws4O1s6VIco41FTuLyBw3Hh9L6yzkarny3K5X2o4vTOLyBBkoFxmZtDU0FwNtCd/OW3B+Ge2ALM6AgOAtyzoTcvUI0RWsbLuba9Jhu1Ztia4/vqn+q83/AGG4spoZnPeJSkvj7OiGt4G2Y+M0vC/9UfsvSCLiFW2UYipltoMulrekuaiBgQwBB0IIuCPEGe+D8NKLUVtB7RypF7kFyQxvvoVnurTKmxmGU5tdf55S4yKN+zOGY3NIDwVnUfAGSKfBqCJkRFQDUFRZgeubcnzlhCLdX8xXJw4kWYgnqBvz1Hjv5676yr7b4RimGyKWIqhRe/vOpy3I13APpNTQQkgCesSgaoicqYNZvPVE+rn/AASsbds/2ykmmR4Vw5FTO4potBQj1m/7hYgOwCbA97c3OsrOI8cXEYmitNCqIropYks4IBLH+G8h8XqmpinViQjVrlbnKDcKWt1sN5I7T0qOFxi5FORVU2BvYlSCRfwsZveK5pOq0/C8QARea7CYkEbznNLFIQGR1a4vZSCwHiu8t8BxUDZgfIycsd9HZtt6lUWmb4xXEj1+MaWvKh8QXMUxVjjpHqMSdJJwL5WBPWWGC4dm5SRX4bbYR2y8NZdNLgMUGUWMmXmHoV3pnS8ucJxgH3jM9WMM8N3cX14WlFieMhNV1lf/AOpG6CP5rOYVyzhGtRh1puPlPCGNYTFezfN+yR8Z6VptGkWHCsX7KujcmV0PqB/KazsImd6t/wAQ+ZMwdQ+6ejCX/BuMVMPnyIt2IvmJIHoLX3k5Tw3YFwy22lXxXAIqliQoHNiFHxM5ziO0uMffEOo6UwqD0IGb5ysrOzm7sznq7M5HlmJtCY1Elaytx+jQbMKgex+53/TTSVHG+1dXGMuXPRpINFDkF2/E+W23IbSpnlmlfPqtbVeOJztckknMSTckka3M6D2IwxqYB1XRxWzIejqilD5XUfOc/wAautzznT+xbrQ4d7c3yhmdgNzkbLYeJAEnLtOXTQ8Exgq0lfmNCOYtpY+I90+KmTatMOLH/iU/ZjCsiPnsKjuajANmAV7lANBbY/XnLyZZdql1yrHwbg2Go6x5MD+I/CTbzwpux8NP5/lFqNL+uVgRAo00tMinE7DEV2++6qg5lVS6KPPMCfWX/HcWqUKpLANkcDrmIsB8TOc8V4/7J2phMzIzra/cuXuL/wCEJ8COc0wjK73yqMfm9o5cWYm5HidfzlbjKpLXJJa1rk3Px+Uk4zGM7M7m7Mbnlc+UrgCx8TNKWyIxU9025aaadJLweKdSAGPzP+890qIAsQDH6ShdgBFpUiaMdUG4zDzF5Z8K4zSDD2mZPFgcv8QlOGnuCnVeGV0ZQUYMDzU3HylkyAicYpXQ3RmQ/sMyf6SLy0o9osUnu1S1uThXHxtf5yLjRZ66BjsKtjMnjKhU6GRD23qEZalFb7XVioPob/WRjxFaptYqx+62h9ORlYz+Slp84pjuZ69pGRQM9ZDL0NxiKu4kim2kjVN/hPdBt/ORLymHn90ywR9JXMY7h31IPRT8pak4mJmjLPELQB5njL1LbmIWkbEk2FuUBTeJe/8ALp/vOh/o6qNiaD4aot6Ka301LOHCnn91vjOaTafo34hkqVKYJDOFZehKZrg+jfKRknt0zEqFrISdHUoBsM695bEcyC2n7MkuSLWF+vX0kdwmJplH0JttoVYG6up5EEAgzK4bjuKw9V6NcLWyHUqAlTIdUdR7rgjlpYgi5mdxtKXytoZGNJiMu3Nm6nfSRanHaK0xUuxvoECnPfpkO3mdPGR8DxOpiSyU09kABd3Idlv+ypsG3tqYfNVMtIpwrYjE5NWoUs3tG2D1bWCKf2b6nrcTnHHyftNe4XMGCm1rEqAt9OuW86nxfFUsLSSigBckCmhJsz5rhnPO7anmdZyjjAb7RVze8XLGwsDck3A5DXaaYzUTbcruq96dxqdZ6poF2mj4P2YevhqmILFQquaYt75QXN+i6EeYmbVxa/K145qn0eDT2DNTwXsqjYVsTiC/uO6opy90A5STbc2vMij31Gx6xyymkh44ryPmgGjNJzweoALnQSOXjVy+/ujYdT1iFr2uJZ9AAF6kE/KABQqWJKgix/Cf5GOKbT3WGZGH9XEWg3uGwquispDKQCCOY6z19iEz3Yvin6tqZPuG4/dbW3xvNR7aaY9OX9Ly4++5nqkdZ4aKpsbzL1ttJE9KbMviv0M8CDNax6H6ylbSQ97+EC0Zw7XB8/ynsxnt6JnltRaF4QK1CKzX/owwefGB+VNGb1PdH1mTrr3vOdK/RFhu5XqdSqD0uT+UjLomx4jhchzppc6gcj1EoOOYRq2Wsg/W0gQy/wD2Ut2H7y7j4TZsoO8i1MKpYNsb7jn5ycbpO+OXOcZi1RA2nesF13J2mhweKejQC0lAzG74ircU8xBJNNNGqAAWGy2G5lf2T4FnrPVrKDToO9OirDusysc1Qg72FgPXpLTF1/tGINx+ro2yC+ju33yPADTzvKyy3dfweMQ8Nw/O/tXLOxsQz++bajTZF6ItvG8xfa/TFORyVP8ATOkTmnatr4mr5qP8ohj6uzpvcSv2fhRA3XD2/wATjX5tOW4KhnZEH32Vf4mA/OdS7cNk4e4HMU0/zL/KYnsLg8+Mp9Kas59BlX5n5SZdY7Hrddsa60MA6LpdVooP3u79LmcmUWm9/SjiP/j077l3I8FAUfUzBSsZwn3b3eLeM1DYfCFZ7CWeynvtl5Df+UlCRcGwAPWPe0ihw7PAfK1uTfWCtPGJW6+WsZnODVSlYjqCPhqJrxj5hcHUvUQne9vPS00msUyR87ZJxrPJE9MYiyAeQ6Qfa3X/AJnikZ6fb1lG94U6GPGR8Md4/HOiEURIRgzidhOvfovw+XBBvx1Hb0Byj6TkWIGk7h2LoZMDhx/d5v4iT+czz7F6XbcvhG6y6eWvqNo663FpFxVYhGcFQQNC3ug3tr6yGaqSoyoEIC+AvcXJNmPNje58SYxhcKbtlBJZsx+AAHoABLhlpsSTbNYtlvrbYG3pJVNbAeUa5lpXU+HMfeIHznIuNAti6ijX9blHjZwv5TuBnHqeFP8A1NkYbVnY/EsPylS8WnjbllI2nb+32F/3qdv41lL+jDCH9fVOxKU1/wAPeb6iabj+DFbCsh6K3qpvHOB4VMNhkQkKAMzMTa5Y6kkyN7kjS46trnXb7F+0xjKNqShPU95vqJmvven5yXxKtnr1n/FUc+mY2+VpDfcedvjNtajMuI90xis17eV4/VPdMiX2+EVCUq2sfAXnsGLaJaVDON3dTPaNeNVxdNNxI1CvY2Ox+UVp7enGR1PIEN8DOmU+ElgCCLEAjyO05zikutxynYuHcPX2VPX7ic/2RMf1342/HUl3HEqaFjZQSegBJ+AlmnAKmVXqFKKNs1Vwt/EJqx9BG+AoWcj2y0VC3d2OmUEaZfvnbuzQ0MVQzhMJhnxtbf2lcEjzWnyHnaaTlzs+nCqjFjSR6qD+0Sm4VvHaQqg3B0I0IO4PiJscfwfieIa1YhADYJnCoLi4CpTuT8JSca7MYjDZc65g4JugYgFRdlNwNbXPpHuFtT4Y6+kkyJQ96S44cEWJFjBrE7es7/wSnlw9FelNB/lE4HiKDAISCFe+U/isbG3rPoTDLZEHRVHyEzy7GXR2UvaDSiR+KpRA/wAVZLj6y6lN2gW4orbeunyu35SYz9O/ZMt3Fu8uXQanNlGrc7ZdPOWIjOI2A6sv1v8AlHojF5y/s5hjiOJV6j6hHqMelyxRBfyB+E31bFkUajX7yI5v0IBIMzvYzhFP7IjspD1LuzqWRySxt3lN9jH1j/a8Jzv+GjXDAHQnLY3TkfjKzF8OOKdBVTLRpd7If7R7WFwPuKPiT4RceqUACalZnY5adM1CS7kaADc+J5AXnji/GfseGTMPaVbIgUGxdzv89ZMjS3ai7d9n6CURWphaRQ2sNFfMbWt1nOqrgrceE7LwnhbZS+JOeq9yyscyUw33EU6AAGxO5mG7f8Mpo6VKKhUdWVgtsoZdiLaDTT0mmOXibGSrG66SMm4io+hERDY3jtSnT0BIxqkHUaR1HB2lQztM8pArJlYiWQ11kTHLrf0hRYXCVdcp5nSdXw+Jyoo6KB8BOPBrWI5ToNDtNSyre17C/nbWTNeotvjI9m+FfasQlLNlDXLNzCgXNh1nbeH8LpYenkooqae9a5Pix3J1iQkXs70lYYKAQo2JuTuTzJPO945URWFmAI6EXEIQ9S4LxjAChialMe6rtl/d3HyMahCbLx6AiQhAJ+JxgenhqYUhqTOCdLEM4ItO6o2gt0EITLLsZ9FBlZxcXfDj++ufIU3P1tCEUZeplfdP3vyMkCEIlMl2kVsrUQbe2enTJHJHcZj55cw9ZcnAAKEQugRQoyNbQCw02MIR5eNJ0ymJwRpYzDM7s7lK9yzE21GQDkLA20Eg9rW9pi8JTF9CXv0uwt692EJN7/46JJ8z+0/tVxKsBTo0W9nmDZ33bKbKAPifhK3tniEGDo00uQWUAneyCxPmfzhCPHuFlJ83+3PCNYkITTxzRLp6rr5RtqNtV0hCUZ7C19cpj2IS4hCEOdK0CLCEkn//2Q==);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    height: 40rem;
}
.in{
    width: 80%;
    height: 40px;
    border: transparent 1px;
    border-radius: 15px;
    margin-bottom: 20px;
}
#btn{
    background-color: rgba(241, 10, 10, 0.638);
    color: rgb(239, 242, 242);
    width: 200px;
    height: 60px;
    border-radius: 20px;
}
#btn :hover{
    background-color: rgba(17, 17, 227, 0.862);
    color: rgb(242, 14, 14);
} 
.animes{
    height: 10rem;
    background-color: rgb(245, 32, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animes i{
    font-size: 40px;
    padding-right: 15px;
}